
<div class="full">
   <div class="img1">
      <img src="https://cdn.pixabay.com/photo/2021/01/24/06/58/setup-5944428__340.png" alt="">
   </div>   
   <div class="container main-div">
      <form action="">
    
         <h4>Welcome to our application</h4>
         <h5>Please Register here</h5>
         <a routerLink="login"> <button class="btn btn1">Registration</button></a>
         <h6>Are you already Registered? Login here!</h6>
         <a routerLink="login-form"> <button class="btn btn2">Login</button></a>
      </form>
      <img  class="img2" src="https://o.remove.bg/downloads/b4d9a49d-129f-4785-b441-7f0b735bd403/illustration-removebg-preview-removebg-preview.png" alt="">
   </div>
</div>


